extends layout

block content

  h2 Doctor: #{doctor.name}

  table
    thead
      tr
        th
          | Doctor Name
        th
          | Gender
        th
          | Birthdate 
        th
          | Expertise
        th
          | 
    tbody
      tr
        td(data-title='Doctor Name') 
          | #{doctor.name}
        td(data-title='Gender') 
          | #{doctor.gender}
        td(data-title='Birthdate') 
          | #{doctor.date_of_birth_formatted}
        td(data-title='Expertise') 
          | #{doctor.expertise} 
        td
          a(href=doctor.url)
            i.material-icons(style="padding:5px; margin:5px;") visibility
          a(href=doctor.url+'/delete')
            i.material-icons(style="padding:5px; margin:5px;") delete
          a(href=doctor.url+'/update')
            i.material-icons(style="padding:5px; margin:5px;") edit
        
  hr
  h3 Schaduled Surgeries

  if surgeryDoctors.length
    table
      thead    
        tr
          th
            | Title
          th
            | Patient
          th
            | Doctor(s)
          th
            | Date 
          th
            | Status
          th
            | 
      tbody
        each surgery in surgeryDoctors
          tr
            td(data-title='Surgery Title') 
              | #{surgery.title}
            td(data-title='Patient') 
              a(href=surgery.patient.url) 
                | #{surgery.patient.name}
            td(data-title='Docor(s)')
              each val in surgery.doctor
                | #{val.name}
                br 
            td(data-title='Date') 
              |#{surgery.date_formatted}
            td(data-title='Status') 
              if surgery.status
                i.material-icons(style="padding:2px; margin:2px;") check_box
              else
                i.material-icons(style="padding:2px; margin:2px;") check_box_outline_blank
            td(data-title='Surgery') 
              a(href=surgery.url)
                i.material-icons(style="padding:5px; margin:5px;") visibility
              a(href=surgery.url+'/delete')
                i.material-icons(style="padding:5px; margin:5px;") delete
              a(href=surgery.url+'/update')
                i.material-icons(style="padding:5px; margin:5px;") edit
  else
    p This doctor has no scheduled surgeries.
            