extends layout

block content
  //- div(style='text-align: center')
    //- img(class='doctorlist-img1' align='middle' src='https://openclipart.org/download/216808/doctor.svg')
    //- img(class='doctorlist-img1' align='middle' src='https://openclipart.org/download/284473/CDC-femaledoc.svg')
    
  img(class='doctorlist-img' align='middle' src='http://www.businessrock.in/admin/businessImage/6_Doctor_Logo-WebSite33847914.png')
  h1= title
  table
    thead
      tr
        th
          | Doctor Name
        th
          | Gender
        th
          | Birthdate 
        th
          | Expertise
        th
          | 
    tbody
      each val in listDoctors
        tr             
          td(data-title='Doctor Name') 
            | #{val.name}
          td(data-title='Gender') 
            | #{val.gender}
          td(data-title='Birthdate') 
            | #{val.date_of_birth_formatted}
          td(data-title='Expertise') 
            | #{val.expertise} 
          td
            a(href=val.url)
                i.material-icons(style="padding:5px; margin:5px;") visibility
            a(href=val.url+'/delete')
              i.material-icons(style="padding:2px; margin:2px;") delete
            a(href=val.url+'/update')
              i.material-icons(style="padding:2px; margin:2px;") edit
      
  -if (undefined==listDoctors || listDoctors.lenght)
    p There are no doctor in this hospital
