extends layout

block content
  h1= title
  p Welcome to #[em MozhdeHospital], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.


  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else

    p The hospital has the following record counts:

    ul
      li #[strong Surgeries:] !{data.surgery_count}
      li #[strong Doctors:] !{data.doctor_count}
      li #[strong Active Surgeries:] !{data.surgery_available_count} 
      li #[strong Patients:] !{data.patient_count}
