extends layout

block content
  h1 #{title}: #{surgery.title}
  
  p #[strong Patient:] 
    a(href=surgery.patient.url) #{surgery.patient.name}
  p #[strong Doctor:] 
    each val in surgery.doctor
      a(href=val.url) #{val.name}
      |, 
 
  p #[strong Status:] 
    if surgery.status
      span.text-success Active
    else
      span.text-danger Inactive
    
    if surgery.status
      p #[strong Summary:] #{surgery.summary}
      p #[strong Date:] #{surgery.date_formatted}
 
  hr
  p
    a(href=surgery.url+'/delete') Delete Surgery
  p
    a(href=surgery.url+'/update') Update Surgery